.container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    ;
}
img {
    width: 70px;
    height: 70px;;
}
.form-group {
    width: 300px;
    height: 40px;
}
